*{padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    }
    /* estilo general nav */
    .nav__conjunto{
         background-color: #000000;
         height: 100px;
         display: flex;
         transition: all 300ms ease;
         
     }
    
     .nav__conjunto :hover{
         color: white;
     }
    
     
    
     
     
    nav a {
    
        color: #06c4f3;
        display: flex;
        text-transform: uppercase;
        justify-content: center ;
        align-items:center;
        height: 50px;
        flex-direction: row;
        margin: auto;
        text-decoration: none;
        
    
    }
    /* estilo index */
      
    .titulo__principal{
        text-align: center;
        text-transform: uppercase;
    }
    
    .parrafo__inicio{
        display: flex;
        /* background-color: aqua; */
        text-transform: uppercase;
        height: 100px;
        text-align: center;
        align-items: center;
        font-weight: 700;
    
    
        
    
    }
    .contenedor__principal{
        display: flex;
        
    
    }
    
    .imagen__izq{
    
        display: flex;
        width:100%;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 10px;
        
        
    }
    
    .parrafo__aside{ 
        /* background-color: rgb(4, 132, 237); */
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 10px;
        
        
    }
    
        
        header div{
         /* background-color: blue; */
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            
        }
    /* estilo comun para footers */
        .footer{
            display: flex;
            text-transform: uppercase;
            background-color: black;
            height: 100px;
            align-items: center;
            justify-content: center;
            transition: all 300ms ease;
            position: absolute;
            bottom: 0;
            width: 100%;
            margin-top: 10px;
            
        }
    
        .items__footer :hover{
            color: white;
        }
        
        
    
        .span{color:#06c4f3;
            display: flex;
            text-transform: uppercase;
            height: 50px;
            flex-direction: row;
            text-decoration: none;
            align-items: center;
            margin: auto;
            
        
        
        }
    
        .items__footer
        { color:#06c4f3 ;
            display: flex;
            text-transform: uppercase;
            align-items:center;
            height: 50px;
            flex-direction: row;
            text-decoration: none;
            margin: auto;
            justify-content: center;
            height: 100px;
    
        }
    
        .items__footer i{
            font-size: 50px;
            
        }
        
    
        
    /* fuente comun para todo el sitio web */
       body
        {
    font-family:-apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue',
     sans-serif ;
     background-color: beige;
     position: relative;
     padding-bottom: 120px;
     min-height: 100vh;
    }
    
    /* comienzo estilo pagina mi experincia */
    
    
    .header__me{
        display: flex;
        justify-content: center;
        height: 70px;
        margin-top: 10px;
        align-items: center;
        background-color:#06c4f3;
        margin-bottom: 10px;
    }
    
    .titulo__me{
        display: flex;
        text-transform: uppercase;
    
    
        
    }
    
    .contenido__me{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .img__me{
        height: 50%;
        width: 50%;
        border-radius: 10px;
        margin-left: 10px;
    }
     .texto__me{
         text-transform: uppercase;
         align-items: center;
         justify-items: center;
         margin-top: 10px;
         margin-bottom: 10px;
         margin-left: 10px;
         margin-right: 10px;
         text-align: justify;
         font-weight: 700;
        
     }
     .cont__section{
         display: flex;
         position: relative;
     }
     .div__section{
         align-items: center;
         justify-content: center;
         /* background-color: red; */
         text-transform: uppercase;
         text-align: justify;
         margin-left: 10px;
         margin-right: 10px;
         font-weight: 700;
    
    
     }
    
     /* comienzo estilo porque estudiar */
    .titulo__principal{
        background-color: #06c4f3;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .parrafo__main{
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
    
    }
    
     .contenedor__mixto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
     }
    
     .imagen__1{
         display: flex;
         /* height: 50%; */
         width: 44%;
         /* align-items: center; */
         /* justify-content: center; */
         margin-top: 25px; 
         margin-bottom: 10px;
         margin-left: 10px;
         margin-right: 10px;
         border-radius: 10px;
         /* box-shadow: 10px 10px #000000; */
        
     }
    
     .video__1{
         display: flex;
         /* justify-content: center; */
         /* align-items: center; */
         /* margin: auto; */
         /* box-shadow: 10px 10px #000000; */
    
     }
    
     .header__conjunto{
         display: flex;
         text-transform: uppercase;
         text-align: justify;
         flex-direction: column;
         margin-bottom: 10px;
        
     }
    
     /* inicio estilo contacto */
    
     .main__contacto{
         display: flex;
     }
     .titulo__contacto{
         text-align: center;
         text-transform: uppercase;
         font-weight: 700;
     }
     .titulo__form{
         text-align: center;
         font-weight: 700;
         text-transform: uppercase; 
        
    
    }
    
     .form__conjunto{
         display: flex;
         height: 400px;
         width: 400px;
         background-color: #06c4f3;
         flex-flow: column;
         padding: 10px;
         justify-content: center;
         margin: auto;    
         margin-bottom: 10 px;
    
     }
     .elementos__form{
         font-size: 16px;
         padding: 10px;   
    }
    .boton__enviar{
        background-color: black;
    }
    
    
    
    
    
    
    
      /* estilo media querys */
     @media screen and (max-width:1024px) {
         .body{
             background-color:#06c4f3;
             
             
         }
         
        
     }
    
    
    
    
     @media screen and (max-width:600px) {
        
        .nav__conjunto{
            flex-direction: column;
        } 
    
        /* inicio estilo index responsive */
    
        .titulo__principal {
            text-align: center;
            justify-content: center;
            margin-bottom: 15px;
        
        }
        .contenedor__medio{
            flex-direction: column;
            
        }
    
        .contenedor__principal {
            
            flex-direction: column;
            text-align: justify;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-right: 10px;
            margin-left: 10px;
        }
        .section__conjunto{
            
            margin: auto;
        }
        .parrafo__inicio{
            text-align: justify;
            margin-left: 10px;
            margin-right: 10px;
        }
        .imagen{
            margin-top: 10px;
        }
    
        .imagen__izq{
            margin: auto;
        }
    
        .parrafo__aside{
            margin: auto;
            text-align: justify;
        }
    
        /* codigo estilo porque estudiar responsive */
     
       .header__conjunto{
           flex-direction: column;
           text-align: justify;
       }
       .conjunto__main{
           display: flex;
           flex-direction: column;
       }
       .parrafo__main{
           margin-left: 10px;
           margin-right: 10px;
           text-align: justify;
       }
       .contenedor__mixto{
           display: flex;
           flex-direction: column;  
       }
       .imagen__1{
           
           width: 95%;
       }
       .video__1{
           width: 95%;
           margin-bottom: 10px;
       }
    
       /* inicio estilo mi experiencia */
    
       .header__me, .titulo__me, .ancla__me {
           display: flex;
           text-align: center;
       }
       .contenido__me{
           display: flex;
           flex-direction: column;
       }
       .img__me{
           width: 95%;
           margin: auto;
           margin-top: 10px;
           margin-bottom: 10px;
       }
       .texto__me{
           width: 95%;
           margin: auto;
           margin-top: 10px;
           margin-bottom: 10px;
           text-align: justify;
    }
    .cont__section, .div__section{
        display: flex;  
    }
    .parrafo__section{
        text-align: justify;
        margin-right: 10px;
        margin-left: 10px;
        font-weight: 700;
    
    }

    h2 a{
        text-decoration: none;
    }
    
    
    
     }